body{
  text-align: center;
  margin-top:150px;
  background-color:#0B2447;


}
.sr{
  width:20%;

}
.reddy{
  color:#fff;
}
.shre{
  text-align: center;
  color:#fff;
  margin-top: 40px;
}
.loke{
  width:2%;
}
